.passengerForm {

    ul {
        border: none;
    }

    .passenger {
        display: flex;
        margin: 10px;
        border-radius: .3125em;
        border: 1px solid #DCE3E6;

        button {
            background-color: white;
            border: 0;
            opacity: 0.5;
        }

        button:hover {
            opacity: 1;
            cursor: pointer;
        }

        .select {
            width: 50%;
        }
    }

}