.home {
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 20px 0;


    .fullForm {
        max-width: 940px;
        margin: 9% auto 10% auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}