        ul {
            outline: 0;
            border-radius: .3125em;
            border: 1px solid #DCE3E6;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                border-bottom: 1px solid #DCE3E6;
                color: #323E42;
                display: block;
                overflow: hidden;
                padding: 10px 10px 10px 30px;
                background-size: 8%;
                background-repeat: no-repeat;
                background-position: left;
                opacity: .5;
            }

            li:hover {
                opacity: 1;
                background-color: #F6F7FA;
                cursor: pointer;
                transition: 0.5s;
            }
        }

        .via {
            background-image: url(https://assets.trainline.eu/assets/images/add-via-ff2137e….svg);
            background-repeat: no-repeat;
            background-position: 11px center;
            background-size: 20px;
            padding: 10px 10px 10px 35px;
            border-radius: 6px;
            border: solid 1px #01C3A7;
            background-color: #D3F9F4;
            color: #059E87;
            margin-top: 10%;
        }

        .via:hover {
            background-color: rgb(230, 247, 244);
            cursor: pointer;
        }